
body {
  color: #fff;
  font-family: "Kalameh";
  background-position: top top;
  background-size: cover;
  margin: 0;
  direction: rtl;
}

.App {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  background: linear-gradient(
    0deg,
    #242544 0%,
    #121222 50%,
    #14162F 100%
  );
  background-image: url('/back.png');
  background-size: cover;
}

.container {
  display: block;
  height: 100vh;
  width: 100vw;
  margin-top: 35px;
}
.col-4 {
  width: 25%;
  float: left;
}

h1 {
  font-size: 38px;
  text-transform: uppercase;
  line-height: 1;
}

@media (min-width: 768px) {
  h1 {
    font-size: 58px;
  }
}
@font-face {
	font-family: Kalameh;
	font-style: normal;
	font-weight: bold;
	src: url('./fonts/Kalameh-ExtraBold.woff') format('woff')
}